<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Socket.IO Test</title>
    <script src="/socket.io/socket.io.js"></script>
    <script nonce="<%= nonce %>" src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script nonce="<%= nonce %>">
        document.addEventListener('DOMContentLoaded', (event) => {
            var socketUrl = 'http://localhost:9019';
            // var socketUrl = 'https://api.tossaguns.online';
            var socket = io(socketUrl);

            socket.on('connect', () => {
                console.log('Connected to server');
            });

            socket.on('disconnect', () => {
                console.log('Disconnected from server');
            });

            document.getElementById('uploadForm').addEventListener('submit', async (event) => {
                event.preventDefault(); // ป้องกันการรีเฟรชหน้า

                const videoFiles = document.getElementById('videoFiles').files;
                // const claimId = document.getElementById('claimId').value;

                const formData = new FormData();

                // เพิ่มไฟล์วิดีโอทั้งหมดลงใน FormData
                for (const videoFile of videoFiles) {
                    formData.append('files', videoFile);
                }
                formData.append('type', 'video');

                try {
                    const response = await axios.post(
                        `${socketUrl}/orderhub/claim/compress/video`,
                        formData,
                        {
                            headers: {
                                "auth-token": 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyaWQiOiI2NWE2NmIyN2M0M2Y0NDJjZjAzNjdiZWQiLCJ1c2VybmFtZSI6ImFkbWluIiwiZmlyc3RuYW1lIjoibWFodW5ub3AiLCJsYXN0bmFtZSI6ImthcGtoYW8iLCJyb2xlIjoiYWRtaW4iLCJpcF9hZGRyZXNzIjoiMjUwNjY0MTdjMDA3OGQ1MzY0OGE1MGIwYTlhZjJmNDQiLCJsYXRpdHVkZSI6ImQ2YzVhNzJkZmY4YzI0MTRkMjZjODA4OTg2NGZiNjA3IiwibG9uZ3RpdHVkZSI6Ijc2NjBiMmY3MTAwNzhhNGIwYzlhYWUxMGZhMjcxOTRmIiwiaWF0IjoxNzIxMTEzMTA4LCJleHAiOjE3MjExNDkxMDh9.VDVdTsHF5RP2S58DVUaevSvMkEP3jqRf6-ALzmRMj1U',
                                "Content-Type": "multipart/form-data",
                            },
                            timeout: 300000,
                        }
                    );

                    console.log('Response from server:', response.data);
                    if (response.data.status) {
                        alert('อัพโหลดสำเร็จ: ' + response.data.message);
                    } else {
                        alert('เกิดข้อผิดพลาด: ' + response.data.message);
                    }
                } catch (error) {
                    console.error('Error compressing or uploading video file:', error);
                    alert('เกิดข้อผิดพลาดในการอัพโหลด');
                }
            });
        });
    </script>
</head>
<body>
    <h1>Socket.IO Test</h1>
    <h1>อัพโหลดวิดีโอ</h1>
    <form id="uploadForm">
        <input type="file" id="videoFiles" name="videoFiles" accept="video/*" multiple required />
        <button type="submit">อัพโหลด</button>
    </form>
</body>
</html>
