<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Socket.IO Test</title>
    <script src="/socket.io/socket.io.js"></script>
    <script nonce="<%= nonce %>">
        var socket = io();

        socket.on('connect', () => {
            console.log('Connected to server');
        });

        socket.on('disconnect', () => {
            console.log('Disconnected from server');
        });

        // socket.emit('compress', ['file1', 'file2'], 'type');
    </script>
</head>
<body>
    <h1>Socket.IO Test</h1>
</body>
</html>
